@model ComputerStore.Areas.User.Controllers.HomeController.ProductDetailsViewModel

@{
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "User Home Page";
}
<div class="">
    <div class="header-full grid-full-width">
        <div class="header-content grid">
            <div class="grid__row row">
                <ul class="catalog-list col-2">
                    @*PC GVN*@
                    <li class="catalog-item">
                        <a href="#" class="catalog-item-link">
                            <i class="fas fa-laptop-code"></i>
                            <span class="catalog-name">
                                PC GVN <i class="fas fa-chevron-right fa-pull-right"></i>
                            </span>

                        </a>
                        <div class="products-of-catalog">
                            <div class="product-catalog-container">
                                <div class="product-of-catalog-content">
                                    <span class="product-of-catalog-content-name">
                                        KHUYẾN MÃI HOT
                                        <a class="product-of-catalog-content-items" href="https://youtube.com">PC RX6600 tặng 8GB RAM</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC GTX1650 tặng 8GB RAM</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        PC KHUYẾN MÃI
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Dragon ACE 4080 Super</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Dragon X 4070 Super</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Project Vertical</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Project Zero White</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        PC KHUYẾN MÃI
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">BTF i9 - 4090</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">BTF i7 - 4070Ti Super</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">BTF i5 - 4070 Super</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">i5-4060</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">i5 - 4060Ti</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        PC theo cấu hình (Intel)
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC i3 (Giá chỉ từ 7 triệu)</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC i5 (Giá chỉ từ 10 triệu)</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC i7 (Giá chỉ từ 27 triệu)</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC i9 (Giá chỉ từ 40 triệu)</a>
                                        <a class="product-of-catalog-content-items text-bold" href="https:youtube.com">Xem tất cả PC</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        PC theo cấu hình (AMD)
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC R3 (Giá chỉ từ 5 triệu)</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC R5 (Giá chỉ từ 7 triệu)</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC R7 (Giá chỉ từ 37 triệu)</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC R9 (Giá chỉ từ 40 triệu)</a>
                                        <a class="product-of-catalog-content-items text-bold" href="https:youtube.com">Xem tất cả PC</a>

                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        PC văn phòng
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Homework Athlon - Giá chỉ 3.990k</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Homework R3 - Gia chỉ 5,690k</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Homework R5 - Gia chỉ 5,690k</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Homework 15 - Gia chỉ 5,690k</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        PC theo cấu hình VGA
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA 1650</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA 3050</a>
                                        <a class="product-of-catalog-content-items" href="../Categories/Card3060">PC sử dụng VGA 3060</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA RX 6600</a>
                                        <a class="product-of-catalog-content-items text-bold" href="https:youtube.com">Xem tất cả PC GVN</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        PC theo cấu hình VGA
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA 4060</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA 4070</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA 4080</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA 4090</a>
                                        <a class="product-of-catalog-content-items text-bold" href="https:youtube.com">Xem tất cả PC GVN</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Phần mềm bàn quyền
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">
                                            Windows bản quyền - Chỉ từ 2.990K
                                        </a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">
                                            Office 365 bản quyền - Chỉ từ 990K
                                        </a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        A.I PC - GVN
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Asus Intelligence PC x GVN</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    @*Màn hình*@
                    <li class="catalog-item">
                        <a href="#" class="catalog-item-link">
                            <i class="fas fa-desktop"></i>
                            <span class="catalog-name">
                                Màn hình <i class="fas fa-chevron-right fa-pull-right"></i>
                            </span>
                        </a>
                        <div class="products-of-catalog">
                            <div class="product-catalog-container">
                                <div class="product-of-catalog-content">
                                    <span class="product-of-catalog-content-name">
                                        Hãng sản xuất
                                        <a class="product-of-catalog-content-items" href="../Categories/ManHinhAsusTuf">Asus Tuf</a>
                                        <a class="product-of-catalog-content-items" href="../Categories/ManHinhAsusTuf">Asus</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">ViewSonic</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Gigabyte</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">AOC</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Acer</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">HKC</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Hãng sản xuất
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">MSI</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Lenovo</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Samsung</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Philips</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">LC-Power</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">E-Dra</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Dahua</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Giá bán
                                        <a class="product-of-catalog-content-items" href="#">Dưới 5 triệu</a>
                                        <a class="product-of-catalog-content-items" href="#">Từ 5 triệu đến 10 triệu</a>
                                        <a class="product-of-catalog-content-items" href="#">Từ 10 triệu đến 20 triệu</a>
                                        <a class="product-of-catalog-content-items" href="#">Từ 20 triệu đến 30 triệu</a>
                                        <a class="product-of-catalog-content-items" href="#">Trên 30 triệu</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Độ phân giải
                                        <a class="product-of-catalog-content-items" href="#">Màn hình Full HD</a>
                                        <a class="product-of-catalog-content-items" href="#">Màn hình 2K 1440p</a>
                                        <a class="product-of-catalog-content-items" href="#">Màn hình 4K UHD</a>
                                        <a class="product-of-catalog-content-items" href="#">Màn hình 6K</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Tần số quét
                                        <a class="product-of-catalog-content-items" href="#">60Hz</a>
                                        <a class="product-of-catalog-content-items" href="#">75Hz</a>
                                        <a class="product-of-catalog-content-items" href="#">100Hz</a>
                                        <a class="product-of-catalog-content-items" href="#">144Hz</a>
                                        <a class="product-of-catalog-content-items" href="#">240Hz</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Màn hình cong
                                        <a class="product-of-catalog-content-items" href="#">24" Curved</a>
                                        <a class="product-of-catalog-content-items" href="#">27" Curved</a>
                                        <a class="product-of-catalog-content-items" href="#">32" Curved</a>
                                        <a class="product-of-catalog-content-items" href="#">Trên 32" Curved</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Kích thước
                                        <a class="product-of-catalog-content-items" href="#">Màn hình 22"</a>
                                        <a class="product-of-catalog-content-items" href="#">Màn hình 24"</a>
                                        <a class="product-of-catalog-content-items" href="#">Màn hình 27"</a>
                                        <a class="product-of-catalog-content-items" href="#">Màn hình 29"</a>
                                        <a class="product-of-catalog-content-items" href="#">Màn hình 32"</a>
                                        <a class="product-of-catalog-content-items" href="#">Màn hình trên 32"</a>
                                        <a class="product-of-catalog-content-items" href="#">Hỗ trợ giá treo (VESA)</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Màn hình đồ họa
                                        <a class="product-of-catalog-content-items" href="#">Màn hình đồ họa 24"</a>
                                        <a class="product-of-catalog-content-items" href="#">Màn hình đồ họa 27"</a>
                                        <a class="product-of-catalog-content-items" href="#">Màn hình đồ họa 32"</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Phụ kiện màn hình
                                        <a class="product-of-catalog-content-items" href="#">Giá treo màn hình</a>
                                        <a class="product-of-catalog-content-items" href="#">Phụ kiện dây HDMI, DP, LAN</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Màn hình di động
                                        <a class="product-of-catalog-content-items" href="#">Full HD 1080p</a>
                                        <a class="product-of-catalog-content-items" href="#">2K 1440p</a>
                                        <a class="product-of-catalog-content-items" href="#">Có cảm ứng</a>

                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Máy chiếu
                                        <a class="product-of-catalog-content-items" href="#">Máy chiếu Asus</a>
                                        <a class="product-of-catalog-content-items" href="#">Máy chiếu Beecube</a>
                                        <a class="product-of-catalog-content-items" href="#">Máy chiếu Wanbo</a>
                                        <a class="product-of-catalog-content-items" href="#">Máy chiếu ViewSonic</a>

                                    </span>

                                </div>
                            </div>
                        </div>
                    </li>
                    @*Bàn phím*@
                    <li class="catalog-item">
                        <a href="#" class="catalog-item-link">
                            <i class="far fa-keyboard"></i>
                            <span class="catalog-name">
                                Bàn phím <i class="fas fa-chevron-right fa-pull-right"></i>
                            </span>
                        </a>
                        <div class="products-of-catalog">
                            <div class="product-catalog-container">
                                <div class="product-of-catalog-content">
                                    <span class="product-of-catalog-content-name">
                                        Thương hiệu
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">AKKO</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Dare-U</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Rapoo</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">FL-Esports</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Corsair</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">E-Dra</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Cidoo</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Thương hiệu
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Asus</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Logitech</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Razer</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Leopoid</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Steelseries</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Durgod</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">VNG</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Giá tiền
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Dưới 1 triệu</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 1 triệu đến 2 triệu</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 2 triệu đến 3 triệu</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 3 triệu đến 4 triệu</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Trên 4 triệu</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Kết nối
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Bluetooth</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Wireless</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Phụ kiện bàn phím cơ
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Keycaps</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Dwarf Factory</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Kê tay</a>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </li>
                    @*Chuột*@
                    <li class="catalog-item">
                        <a href="#" class="catalog-item-link">
                            <i class="fas fa-mouse"></i>
                            <span class="catalog-name">
                                Chuột <i class="fas fa-chevron-right fa-pull-right"></i>
                            </span>
                        </a>
                        <div class="products-of-catalog">
                            <div class="product-catalog-container">
                                <div class="product-of-catalog-content">
                                    <span class="product-of-catalog-content-name">
                                        Thương hiệu chuột
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Logitech</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Razer</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Corsair</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Pulsar</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Microsoft</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Thương hiệu chuột
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Asus</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Steelseries</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Glorious</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Rapoo</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Giá tiền
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Dưới 500 nghìn</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 500 nghìn đến 1 triệu</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 1 triệu đến 2 triệu</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Trên 2 triệu đến 3 triệu</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Trên 3 triệu</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Loại chuột
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Chuột gaming</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Chuột văn phòng</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Thương hiệu lót chuột
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">GEARVN</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Asus</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Steelseries</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Dare-U</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Razer</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Loại lót chuột
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Mềm</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Cứng</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Dày</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Mỏng</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Có viền led</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Lót chuột theo size
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Nhỏ</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Vừa</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Lớn</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    @*Tai nghe*@
                    <li class="catalog-item">
                        <a href="#" class="catalog-item-link">
                            <i class="fas fa-headphones-alt"></i>
                            <span class="catalog-name">
                                Tai nghe <i class="fas fa-chevron-right fa-pull-right"></i>
                            </span>
                        </a>
                        <div class="products-of-catalog">
                            <div class="product-catalog-container">
                                <div class="product-of-catalog-content">
                                    <span class="product-of-catalog-content-name">
                                        Thương hiệu
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Asus</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">HyperX</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Corsair</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Razer</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Thương hiệu
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Steelseries</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Rapoo</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Logitech</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Edifier</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Giá bán
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Dưới 1 triệu</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 1 triệu đến 2 triệu</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 2 đến 3 triệu</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 3 đến 4 triệu</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Trên 4 triệu</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Kiểu kết nối
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Wireless</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Bluetooth</a>
                                    </span>
                                    <span class="product-of-catalog-content-name">
                                        Kiểu tai nghe
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Over-ear</a>
                                        <a class="product-of-catalog-content-items" href="https:youtube.com">Gaming In-ear</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header-banner">
                <div class="slider col-6">
                    <div class="main-slider">
                        <div class="list-slider" id="list-slider">
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider1.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider2.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider3.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider4.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider5.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider6.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider7.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider8.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider9.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider10.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="slider-control">
                            <div class="slider-icon left" id="icon-left">
                                <i class="fas fa-angle-left"></i>
                            </div>
                            <div class="slider-icon right" id="icon-right">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="sub-slider">
                        <a class="sub-slider-link1" href="">
                            <img class="sub-slider-img" src="~/assets_user/image/sub-slider/sub-sli1.jpg" alt="">
                        </a>
                        <a class="sub-slider-link2" href="">
                            <img class="sub-slider-img" src="~/assets_user/image/sub-slider/sub-sli2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="sub-banner">
                    <a class="sub-banner-link1" href="">
                        <img class="sub-banner-img" src="~/assets_user/image/sub-slider/sub-ban1.jpg" alt="">
                    </a>
                    <a class="sub-banner-link2" href="">
                        <img class="sub-banner-img" src="~/assets_user/image/sub-slider/sub-ban2.jpg" alt="">
                    </a>
                    <a class="sub-banner-link3" href="">
                        <img class="sub-banner-img" src="~/assets_user/image/sub-slider/sub-ban3.jpg" alt="">
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="container grid-full-width">
        <div class="container-content grid">
            <div class="container-banner row">
                <a href="" class="container-banner-link col">
                    <img class="container-banner-img" src="~/assets_user/image/container-banner/xxxbanner1.jpg" alt="">
                </a>
                <a href="" class="container-banner-link col">
                    <img class="container-banner-img" src="~/assets_user/image/container-banner/xxxbanner2.jpg" alt="">
                </a>
                <a href="" class="container-banner-link col">
                    <img class="container-banner-img" src="~/assets_user/image/container-banner/xxxbanner3.jpg" alt="">
                </a>
                <a href="" class="container-banner-link col">
                    <img class="container-banner-img" src="~/assets_user/image/container-banner/xxxbanner4.jpg" alt="">
                </a>
            </div>
            <div class="product-content">
                <div class="product-header">
                    <span class="product-header-theme">Top PC Bán Chạy</span>
                    <a href="" class="product-view-all">
                        Xem tất cả
                        <i class="fas fa-angle-right"></i>
                    </a>
                </div>
                <div id="product2" class="product-list">
                    @foreach (var item in Model.PcDetailsList.GroupBy(p => p.P.ProductID).Select(g => g.First()))
                    {
                        <div class="product-item">
                            <a href="~/User/ProductDetails/Index/@item.P.ProductID" class="product-link" id="product-link">
                                <div class="product-img">
                                    <img src="~/assets_user/image/data-image/@item.P.Image1" alt="">
                                    <div class="add-to-cart">
                                        <div class="add-content">
                                            <span class="view-detail">Click để xem chi tiết</span>
                                            <span class="add-btn">Đặt hàng</span>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="product-name">
                                    @item.P.ProductName
                                </h2>
                            </a>
                            <div class="product-about-price">
                                <div class="product-price">
                                    <p class="original-price">20,420,000₫</p>
                                    <p class="new-price">
                                        @item.P.Price.ToString("N0")₫
                                    </p>
                                </div>
                                <div class="product-sale-off">
                                    -5%
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="product-content">
                <div class="product-header">
                    <span class="product-header-theme">Top tai nghe bán chạy</span>
                    <a href="" class="product-view-all">
                        Xem tất cả
                        <i class="fas fa-angle-right"></i>
                    </a>
                </div>
                <div id="product3" class="product-list">
                    @foreach (var item in Model.PhoneDetailsList.GroupBy(p => p.P.ProductID).Select(g => g.First()))
                    {
                        <div class="product-item">
                            <a href="~/User/ProductDetails/Index/@item.P.ProductID" class="product-link" id="product-link">
                                <div class="product-img">
                                    <img src="~/assets_user/image/data-image/@item.P.Image1" alt="">
                                    <div class="add-to-cart">
                                        <div class="add-content">
                                            <span class="view-detail">Click để xem chi tiết</span>
                                            <span class="add-btn">Đặt hàng</span>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="product-name">
                                    @item.P.ProductName
                                </h2>
                            </a>
                            <div class="product-about-price">
                                <div class="product-price">
                                    <p class="original-price">20,420,000₫</p>
                                    <p class="new-price">@item.P.Price ₫</p>
                                </div>
                                <div class="product-sale-off">
                                    -5%
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="product-content">
                <div class="product-header">
                    <span class="product-header-theme">Màn hình bán chạy</span>
                    <a href="" class="product-view-all">
                        Xem tất cả
                        <i class="fas fa-angle-right"></i>
                    </a>
                </div>
                <div id="product4" class="product-list">
                    @foreach (var item in Model.ScreenDetailsList.GroupBy(p => p.P.ProductID).Select(g => g.First()))
                    {
                        <div class="product-item">
                            <a href="~/User/ProductDetails/Index/@item.P.ProductID" class="product-link" id="product-link">
                                <div class="product-img">
                                    <img src="~/assets_user/image/data-image/@item.P.Image1" alt="">
                                    <div class="add-to-cart">
                                        <div class="add-content">
                                            <span class="view-detail">Click để xem chi tiết</span>
                                            <span class="add-btn">Đặt hàng</span>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="product-name">
                                    @item.P.ProductName
                                </h2>
                            </a>
                            <div class="product-about-price">
                                <div class="product-price">
                                    <p class="original-price">20,420,000₫</p>
                                    <p class="new-price">@item.P.Price ₫</p>
                                </div>
                                <div class="product-sale-off">
                                    -5%
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="email-register grid">
                <div class="intro-text">
                    Mua hàng online với nhiều ưu đãi hơn tại GEARVN
                </div>
                <div class="email-form">
                    <input type="email" placeholder="Nhập email của bạn" class="email-input">
                    <p class="email-btn">Đăng ký</p>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="~/assets_user/renderlist.js"></script>
<script src="~/assets_user/slider.js"></script>