@model ComputerStore.Areas.Admin.Controllers.HomeController.DashboardViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <!-- Begin page -->
    <div id="wrapper">
        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Minton</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Welcome !</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        @if (Model.StatusCounts != null && Model.StatusCounts.Count > 0)
                        {

                            <div class="col-xl-3 col-md-6">
                                <div class="card-box">
                                    <div class="float-left" dir="ltr">
                                        <input data-plugin="knob" data-width="70" data-height="70" data-fgcolor="green" data-bgcolor="#ebeff2" value="@(Model.StatusCounts[0].OrderCount * 100 / Model.totalStatusOrderCount)" data-skin="tron" data-angleoffset="0" data-readonly="true" data-thickness=".15">
                                    </div>
                                    <div class="text-right">
                                        <h3 class="mb-1"> @Model.StatusCounts[0].OrderCount </h3>
                                        <p class="text-muted mb-1">Giao hàng thành công</p>
                                    </div>
                                </div>
                            </div><!-- end col -->

                            <div class="col-xl-3 col-md-6">
                                <div class="card-box">
                                    <div class="float-left" dir="ltr">
                                        <input data-plugin="knob" data-width="70" data-height="70" data-fgcolor="red" data-bgcolor="#ebeff2" value="@(Model.StatusCounts[1].OrderCount * 100 / Model.totalStatusOrderCount)" data-skin="tron" data-angleoffset="0" data-readonly="true" data-thickness=".15">
                                    </div>
                                    <div class="text-right">
                                        <h3 class="mb-1"> @Model.StatusCounts[1].OrderCount </h3>
                                        <p class="text-muted mb-1">Đã hủy</p>
                                    </div>
                                </div>
                            </div><!-- end col -->

                            <div class="col-xl-3 col-md-6">
                                <div class="card-box">
                                    <div class="float-left" dir="ltr">
                                        <input data-plugin="knob" data-width="70" data-height="70" data-fgcolor="grey" data-bgcolor="#ebeff2" value="@(Model.StatusCounts[2].OrderCount * 100 / Model.totalStatusOrderCount)" data-skin="tron" data-angleoffset="0" data-readonly="true" data-thickness=".15">
                                    </div>
                                    <div class="text-right">
                                        <h3 class="mb-1"> @Model.StatusCounts[2].OrderCount </h3>
                                        <p class="text-muted mb-1">Đang chờ xác nhận</p>
                                    </div>
                                </div>
                            </div><!-- end col -->
                        }
                        else
                        {
                            <p>No data available</p>
                        }


                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card-box">
                                <div class="dropdown float-right">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Download</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Upload</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    </div>
                                </div>

                                <h4 class="header-title">Số lượng sản phẩm đã bán được theo thể loại</h4>

                                <div class="mt-3 text-center">
                                    <p class="text-muted font-15 font-family-secondary mb-0">
                                        <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-primary"></i> Màn hình</span>
                                        <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-pink"></i> Tai nghe</span>
                                        <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-muted"></i> Cây máy tính</span>
                                        <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-purple"></i> Chuột</span>
                                    </p>

                                    <div id="sparkline3" class="text-center mt-3"></div>

                                    <div class="row mt-3">
                                        <h4 class="header-title col-10" style="margin-left: -120px;">Số lượng tồn kho</h4>
                                        <div class="col-5">
                                            <p class="text-muted font-15 mb-1 text-truncate">Màn hình</p>
                                            <h4> 120</h4>
                                        </div>
                                        <div class="col-5">
                                            <p class="text-muted font-15 mb-1 text-truncate">Tai nghe</p>
                                            <h4> 244</h4>
                                        </div>
                                        <div class="col-5">
                                            <p class="text-muted font-15 mb-1 text-truncate">Chuột máy tính</p>
                                            <h4> 68</h4>
                                        </div>
                                        <div class="col-5">
                                            <p class="text-muted font-15 mb-1 text-truncate">Cây máy tính</p>
                                            <h4> 128</h4>
                                        </div>
                                    </div>

                                </div>
                            </div> <!-- end card-box -->
                        </div> <!-- end col -->
                        <div class="col-xl-4">
                            <div class="card-box">
                                <div class="dropdown float-right">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Download</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Upload</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    </div>
                                </div>

                                <h4 class="header-title">Báo cáo doanh thu năm 2024</h4>

                                <div class="mt-3 text-center">
                                    <p class="text-muted font-15 font-family-secondary mb-0">
                                        <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-primary"></i> Tổng doanh thu </span>
                                        <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-light"></i> Số lượng </span>
                                    </p>

                                    <div id="sparkline2" class="text-center mt-3"></div>

                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <p class="text-muted font-15 mb-1 text-truncate">Mục tiêu</p>
                                            <h4>124,000,000₫</h4>
                                        </div>
                                        <div class="col-4">
                                            <p class="text-muted font-15 mb-1 text-truncate">So với tháng trước</p>
                                            <h4><i class="fe-arrow-up text-success"></i> 88,720,023₫</h4>
                                        </div>
                                    </div>

                                </div>
                            </div> <!-- end card-box -->
                        </div> <!-- end col -->

                        <div class="col-xl-4">
                            <div class="card-box">
                                <div class="dropdown float-right">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Download</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Upload</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    </div>
                                </div>

                                <h4 class="header-title">Chưa phát triển</h4>

                                <div class="mt-3 text-center">
                                    <p class="text-muted font-15 font-family-secondary mb-0">
                                        @*Fill query theo sản phẩm bán chạy*@
                                        <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-primary"></i> Desktop</span>
                                        <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-pink"></i> Laptop</span>
                                    </p>

                                    <div id="sparkline1" class="mt-3"></div>

                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <p class="text-muted font-15 mb-1 text-truncate">Target</p>
                                            <h4> $56,214</h4>
                                        </div>
                                        <div class="col-4">
                                            <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
                                            <h4><i class="fe-arrow-up text-success"></i> $840</h4>
                                        </div>
                                        <div class="col-4">
                                            <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
                                            <h4><i class="fe-arrow-down text-danger"></i> $7,845</h4>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end card-box -->
                        </div> <!-- end col -->




                    </div>
                    <!-- end row -->

                    <div class="row">

                        <div class="col-xl-6">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row align-items-center">
                                            <div class="col-6 text-center">
                                                <h1 class="display-4"><i class="wi wi-day-sleet text-primary"></i></h1>
                                            </div>
                                            <div class="col-6">
                                                <div class="text-muted">
                                                    <h2 class="mt-1"><b>32°</b></h2>
                                                    <p>Partly cloudy</p>
                                                    <p class=" mb-0">15km/h - 37%</p>
                                                </div>
                                            </div>
                                        </div><!-- End row -->
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-4 text-center">
                                                <h4 class="text-muted mt-0">SAT</h4>
                                                <h3 class="my-3"><i class="wi wi-night-alt-cloudy text-primary"></i></h3>
                                                <h4 class="text-muted mb-0">30<i class="wi wi-degrees"></i></h4>
                                            </div>
                                            <div class="col-4 text-center">
                                                <h4 class="text-muted mt-0">SUN</h4>
                                                <h3 class="my-3"><i class="wi wi-day-sprinkle text-primary"></i></h3>
                                                <h4 class="text-muted mb-0">28<i class="wi wi-degrees"></i></h4>
                                            </div>
                                            <div class="col-4 text-center">
                                                <h4 class="text-muted mt-0">MON</h4>
                                                <h3 class="my-3"><i class="wi wi-hot text-primary"></i></h3>
                                                <h4 class="text-muted mb-0">33<i class="wi wi-degrees"></i></h4>
                                            </div>
                                        </div><!-- end row -->
                                    </div>
                                </div><!-- end row -->
                            </div><!-- cardbox -->
                            <!-- END Weather WIDGET 1 -->

                        </div><!-- End col-xl-6 -->

                        <div class="col-xl-6">

                            <!-- WEATHER WIDGET 2 -->
                            <div class="card-box">

                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row align-items-center">
                                            <div class="col-6 text-center">
                                                <h1 class="display-4"><i class="wi wi-night-sprinkle text-pink"></i></h1>
                                            </div>
                                            <div class="col-6">
                                                <div class="text-muted">
                                                    <h2 class="mt-1"><b>18°</b></h2>
                                                    <p>Partly cloudy</p>
                                                    <p class=" mb-0">15km/h - 37%</p>
                                                </div>
                                            </div>
                                        </div><!-- End row -->
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-4 text-center">
                                                <h4 class="text-muted mt-0">SAT</h4>
                                                <h3 class="my-3"><i class="wi wi-day-sprinkle text-pink"></i></h3>
                                                <h4 class="text-muted mb-0">30<i class="wi wi-degrees"></i></h4>
                                            </div>
                                            <div class="col-4 text-center">
                                                <h4 class="text-muted mt-0">SUN</h4>
                                                <h3 class="my-3"><i class="wi wi-storm-showers text-pink"></i></h3>
                                                <h4 class="text-muted mb-0">28<i class="wi wi-degrees"></i></h4>
                                            </div>
                                            <div class="col-4 text-center">
                                                <h4 class="text-muted mt-0">MON</h4>
                                                <h3 class="my-3"><i class="wi wi-night-alt-cloudy text-pink"></i></h3>
                                                <h4 class="text-muted mb-0">33<i class="wi wi-degrees"></i></h4>
                                            </div>
                                        </div><!-- end row -->
                                    </div>
                                </div><!-- end row -->
                            </div><!-- card-box -->
                            <!-- END WEATHER WIDGET 2 -->

                        </div><!-- /.col-xl-6 -->
                    </div>

                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card-box">
                                <div class="dropdown float-right">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Download</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Upload</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    </div>
                                </div>
                                <h4 class="header-title">Earning Reports</h4>
                                <p class="text-muted">1 Mar - 31 Mar Showing Data</p>
                                <h2 class="mb-4"><i class="mdi mdi-currency-usd text-primary"></i>25,632.78</h2>

                                <div class="row mb-4">
                                    <div class="col-6">
                                        <p class="text-muted mb-1">This Month</p>
                                        <h3 class="mt-0 font-20">$120,254 <small class="badge badge-light-success font-13">+15%</small></h3>
                                    </div>

                                    <div class="col-6">
                                        <p class="text-muted mb-1">Last Month</p>
                                        <h3 class="mt-0 font-20">$98,741 <small class="badge badge-light-danger font-13">-5%</small></h3>
                                    </div>
                                </div>

                                <h5 class="font-16"><i class="mdi mdi-chart-donut text-primary"></i> Weekly Earning Report</h5>

                                <div class="mt-5">
                                    <span data-plugin="peity-bar" data-colors="#6c757d,#ebeff2" data-width="100%" data-height="92">5,3,9,6,5,9,7,3,5,2,9,7,2,1,3,5,2,9,7,2,5,3,9,6,5,9,7</span>
                                </div>

                            </div> <!-- end card-box -->
                        </div> <!-- end col -->
                        
                    </div>
                    <!-- end row -->

                </div> <!-- container -->

            </div> <!-- content -->

        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    @using Newtonsoft.Json

<script type="text/javascript">
    // Truyền dữ liệu từ viewModel vào JavaScript
    var statusCounts = @Html.Raw(JsonConvert.SerializeObject(Model.StatusCounts));
    var categoryCounts = @Html.Raw(JsonConvert.SerializeObject(Model.CategoryCounts));
    var totalStatusOrderCount = @Model.totalStatusOrderCount;
    var totalCategoryOrderCount = @Model.totalCategoryOrderCount;
    var monthlyStatistics = @Html.Raw(JsonConvert.SerializeObject(Model.MonthlyStatistics));

    // In ra console để kiểm tra
    console.log(statusCounts);
    console.log(categoryCounts);
    console.log(totalStatusOrderCount);
    console.log(totalCategoryOrderCount);

    console.log('MonthlyStatistics:', monthlyStatistics);

</script>
</main>

