@model ComputerStore.Areas.Admin.Controllers.ProductEditViewModel
@*nếu tổ chức lại class viewmodel thì đổi đường dẫn model ở đây*@

@{
    ViewBag.Title = "Edit Product Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    string imgPath = "~/assets_user/image/data-image/";

}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Minton</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Products</a></li>
                                <li class="breadcrumb-item active">Edit Product Detail</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Edit Product Detail</h4>
                    </div>
                </div>
            </div>

            <div>

                @using (Html.BeginForm("Edit", "ProductDetails", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger h3" })


                    <h1>Chỉnh sửa sản phẩm</h1>

                    <input type="hidden" name="ProductID" value="@Model.ProductID" />

                    <div class="mb-3">
                        <label class="form-label">Tên sản phẩm</label>
                        <input class="form-control" type="text" name="ProductName" value="@Model.ProductName" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Giá</label>
                        <input class="form-control" type="number" name="Price" value="@Model.Price" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Số lượng</label>
                        <input class="form-control" type="number" name="Quantity" value="@Model.Quantity" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Mô tả</label>
                        <textarea class="form-control" rows="5" name="Description">@Model.Description</textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Danh mục</label>
                        <input type="hidden" name="CategoryID" value="@Model.CategoryID" />
                        <input class="form-control" type="text" value="@Model.CategoryName" readonly />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Ảnh</label>
                        <input type="file" id="imgFile1" name="ProductImage1" class="form-control" accept="image/*"
                               onchange="previewSingleImage(event, 'ImagePreview1')" />
                        <img id="ImagePreview1" width="200" class="img-thumbnail" alt="product-image"
                             src="@Url.Content(imgPath+Model.Image1)" />

                        <input type="file" id="imgFile2" name="ProductImage2" class="form-control" accept="image/*"
                               onchange="previewSingleImage(event, 'ImagePreview2')" />
                        <img id="ImagePreview2" width="200" class="img-thumbnail" alt="product-image"
                             src="@Url.Content(imgPath+Model.Image2)" />
                    </div>




                    <h3>Thông số kỹ thuật</h3>


                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tên thông số</th>
                                <th>Giá trị</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                for (int i = 0; i < Model.Specifications.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.Specifications[i].SpecificationName</td>
                                        <td>
                                            <input type="hidden" name="Specifications[@i].SpecificationID" value="@Model.Specifications[i].SpecificationID" />
                                            <input class="form-control" type="text" name="Specifications[@i].SpecificationValue" value="@Model.Specifications[i].SpecificationValue" />
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>


                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                }

            </div>

            <!-- Back to List -->
            <div class="btn btn-outline-secondary mt-4">
                @Html.ActionLink("Về danh sách", "Index", new { area = "Admin" })
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
</div>
<script src="~/assets_user/NHD-js/preview-image.js"></script>
