@model List<ComputerStore.Areas.Admin.Controllers.ProductEditViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    string imgPath = "~/assets_user/image/data-image/";
}

<h2>Index</h2>

<div class="content-page">
    <div class="content">


        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Minton</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                                <li class="breadcrumb-item active">Quản lý sản phẩm</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Quản lý sản phẩm</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <p>
                                @Html.ActionLink("Thêm bảng", "Create")
                            </p>
                            <h4 class="header-title">Danh sách sản phẩm</h4>
                            <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th>Mã</th>
                                        <th>Ảnh</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Thể loại</th>
                                        <th>Thông số kỹ thuật</th>
                                        <th>Mô tả</th>
                                        <th>Giá</th>
                                        <th>Thao tác</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductID)
                                            </td>
                                            <td>
                                                <img style="height: 120px" src="@Url.Content(imgPath + item.Image1)" />
                                                @*<p>@Url.Content(imgPath+item.Image1)</p>*@
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CategoryName)
                                            </td>
                                            <td>
                                                @Html.Raw(string.Join("<br>", item.Specifications
                                                    .Select(spec => $"{spec.SpecificationName}: {spec.SpecificationValue}")))
                                            </td>
                                            <td>
                                                @Html.Raw(string.Join("<br>", Enumerable.Range(0, (item.Description.Length + 49) / 50)
                                                    .Select(i => item.Description.Substring(i * 50, Math.Min(50, item.Description.Length - i * 50)))))
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success waves-effect waves-light">
                                                    @Html.ActionLink("Sửa", "Edit", new { id = item.ProductID }, new { @style = "color: white; text-decoration: none;" })
                                                </button>
                                            </td>
                                            <td></td>
                                        </tr>
                                    }

                                </tbody>

                            </table>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->
        </div> <!-- container -->

    </div> <!-- content -->


</div>
