<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/assets_user/css/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets_user/font/css/all.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets_user/css/base.css")" />

    <link rel="stylesheet" href="~/assets_user/css/NHD-css.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="main">
        <div class="header-full grid-full-width">
            <div class="header-fixed">
                <div class="header grid">
                    <div class="logo">
                        <a href="/" class="logo-link">
                            <img class="logo-img my-logo-img" src="~/assets_user/image/logo/logo_header.svg" alt="Ảnh Logo">
                        </a>
                    </div>
                    <div class="right-header">
                        <div class="top-header">
                            <div class="search">
                                <input class="search-area" placeholder="Nhập mã hoặc tên sản phẩm..." type="text">
                                <div class="search-icon">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                            <div class="account">
                                @if (Session["UserID"] != null)
                                {
                                    <a class="header-top-right" href="#">
                                        <i class="fas fa-user-circle"></i>
                                        <div class="header-right-text">Chào, @Session["UserName"]</div>
                                    </a>
                                    <a class="header-top-right" href="@Url.Action("Logout","Account")">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <div class="header-right-text">Đăng xuất</div>
                                    </a>
                                }
                                else
                                {
                                    <a class="header-top-right" href="@Url.Action("Register","Account")">
                                        <i class="far fa-clipboard"></i>
                                        <div class="header-right-text">Đăng ký</div>
                                    </a>
                                    <a class="header-top-right" href="@Url.Action("Login","Account")">
                                        <i class="fas fa-user-circle"></i>
                                        <div class="header-right-text">Đăng nhập</div>
                                    </a>
                                }

                                <a class="header-top-right" href="">
                                    <i class="fas fa-piggy-bank"></i>
                                    <div class="header-right-text">Khuyến mãi</div>
                                </a>
                                <a class="header-top-right" href="#">
                                    <div class="icon-has-notice">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="cart-notice">0</span>
                                    </div>

                                    <div class="header-right-text">Giỏ hàng</div>
                                </a>
                            </div>
                        </div>
                        <div class="bot-header">
                            <ul class="info">
                                <li>
                                    <a class="info-text" href="">Hệ thống Showroom tại TP. Hồ Chí Minh - Hà Nội</a>
                                </li>
                                <li>
                                    <a class="info-text" href=""><i class="fas fa-phone-square-alt"></i>Tổng đài</a>
                                </li>
                                <li>
                                    <a class="info-text" href=""><i class="fab fa-youtube"></i>Videos</a>
                                </li>
                                <li>
                                    <a class="info-text" href=""><i class="fas fa-newspaper"></i>Tin công nghệ</a>
                                </li>
                                <li>
                                    <a class="info-text" href=""><i class="fas fa-user"></i>Tuyển dụng</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sub-header grid">
                    <div class="product-catalog" id="my-onclick-menu">
                        <i class="fas fa-bars"></i>
                        Danh mục sản phẩm
                    </div>
                    <div class="header-navigation-list">
                        <a href="" class="header-navigation-item">
                            <i class="fas fa-gift"></i>
                            Tổng hợp khuyến mãi
                        </a>
                        <a href="" class="header-navigation-item">
                            <i class="fas fa-hand-holding-usd"></i>
                            Hướng dẫn thanh toán
                        </a>
                        <a href="" class="header-navigation-item">
                            <i class="fas fa-hand-holding-usd"></i>
                            Hướng dẫn trả góp
                        </a>
                        <a href="" class="header-navigation-item">
                            <i class="fas fa-shield-alt"></i>
                            Chính sách bảo mật
                        </a>
                        <a href="" class="header-navigation-item">
                            <i class="fas fa-shuttle-van"></i>
                            Chính sách vận chuyển
                        </a>
                    </div>
                </div>
            </div>

            <div class="overlay-for-megamenu" id="overlay"></div>

            <div class="header-content grid" id="megamenu">
                <div class="grid__row row">
                    <ul class="catalog-list col-2" id="megamenu-ul">
                        @*PC GVN*@
                        <li class="catalog-item">
                            <a href="#" class="catalog-item-link">
                                <i class="fas fa-laptop-code"></i>
                                <span class="catalog-name">
                                    PC GVN <i class="fas fa-chevron-right fa-pull-right"></i>
                                </span>

                            </a>
                            <div class="products-of-catalog">
                                <div class="product-catalog-container">
                                    <div class="product-of-catalog-content">
                                        <span class="product-of-catalog-content-name">
                                            KHUYẾN MÃI HOT
                                            <a class="product-of-catalog-content-items" href="https://youtube.com">PC RX6600 tặng 8GB RAM</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC GTX1650 tặng 8GB RAM</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            PC KHUYẾN MÃI
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Dragon ACE 4080 Super</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Dragon X 4070 Super</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Project Vertical</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Project Zero White</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            PC KHUYẾN MÃI
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">BTF i9 - 4090</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">BTF i7 - 4070Ti Super</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">BTF i5 - 4070 Super</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">i5-4060</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">i5 - 4060Ti</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            PC theo cấu hình (Intel)
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC i3 (Giá chỉ từ 7 triệu)</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC i5 (Giá chỉ từ 10 triệu)</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC i7 (Giá chỉ từ 27 triệu)</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC i9 (Giá chỉ từ 40 triệu)</a>
                                            <a class="product-of-catalog-content-items text-bold" href="https:youtube.com">Xem tất cả PC</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            PC theo cấu hình (AMD)
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC R3 (Giá chỉ từ 5 triệu)</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC R5 (Giá chỉ từ 7 triệu)</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC R7 (Giá chỉ từ 37 triệu)</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC R9 (Giá chỉ từ 40 triệu)</a>
                                            <a class="product-of-catalog-content-items text-bold" href="https:youtube.com">Xem tất cả PC</a>

                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            PC văn phòng
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Homework Athlon - Giá chỉ 3.990k</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Homework R3 - Gia chỉ 5,690k</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Homework R5 - Gia chỉ 5,690k</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Homework 15 - Gia chỉ 5,690k</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            PC theo cấu hình VGA
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA 1650</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA 3050</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA 3060</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA RX 6600</a>
                                            <a class="product-of-catalog-content-items text-bold" href="https:youtube.com">Xem tất cả PC GVN</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            PC theo cấu hình VGA
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA 4060</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA 4070</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA 4080</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">PC sử dụng VGA 4090</a>
                                            <a class="product-of-catalog-content-items text-bold" href="https:youtube.com">Xem tất cả PC GVN</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Phần mềm bàn quyền
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">
                                                Windows bản quyền - Chỉ từ 2.990K
                                            </a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">
                                                Office 365 bản quyền - Chỉ từ 990K
                                            </a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            A.I PC - GVN
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Asus Intelligence PC x GVN</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        @*Màn hình*@
                        <li class="catalog-item">
                            <a href="#" class="catalog-item-link">
                                <i class="fas fa-desktop"></i>
                                <span class="catalog-name">
                                    Màn hình <i class="fas fa-chevron-right fa-pull-right"></i>
                                </span>
                            </a>
                            <div class="products-of-catalog">
                                <div class="product-catalog-container">
                                    <div class="product-of-catalog-content">
                                        <span class="product-of-catalog-content-name">
                                            Hãng sản xuất
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">LG</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Asus</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">ViewSonic</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Gigabyte</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">AOC</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Acer</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">HKC</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Hãng sản xuất
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">MSI</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Lenovo</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Samsung</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Philips</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">LC-Power</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">E-Dra</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Dahua</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Giá bán
                                            <a class="product-of-catalog-content-items" href="#">Dưới 5 triệu</a>
                                            <a class="product-of-catalog-content-items" href="#">Từ 5 triệu đến 10 triệu</a>
                                            <a class="product-of-catalog-content-items" href="#">Từ 10 triệu đến 20 triệu</a>
                                            <a class="product-of-catalog-content-items" href="#">Từ 20 triệu đến 30 triệu</a>
                                            <a class="product-of-catalog-content-items" href="#">Trên 30 triệu</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Độ phân giải
                                            <a class="product-of-catalog-content-items" href="#">Màn hình Full HD</a>
                                            <a class="product-of-catalog-content-items" href="#">Màn hình 2K 1440p</a>
                                            <a class="product-of-catalog-content-items" href="#">Màn hình 4K UHD</a>
                                            <a class="product-of-catalog-content-items" href="#">Màn hình 6K</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Tần số quét
                                            <a class="product-of-catalog-content-items" href="#">60Hz</a>
                                            <a class="product-of-catalog-content-items" href="#">75Hz</a>
                                            <a class="product-of-catalog-content-items" href="#">100Hz</a>
                                            <a class="product-of-catalog-content-items" href="#">144Hz</a>
                                            <a class="product-of-catalog-content-items" href="#">240Hz</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Màn hình cong
                                            <a class="product-of-catalog-content-items" href="#">24" Curved</a>
                                            <a class="product-of-catalog-content-items" href="#">27" Curved</a>
                                            <a class="product-of-catalog-content-items" href="#">32" Curved</a>
                                            <a class="product-of-catalog-content-items" href="#">Trên 32" Curved</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Kích thước
                                            <a class="product-of-catalog-content-items" href="#">Màn hình 22"</a>
                                            <a class="product-of-catalog-content-items" href="#">Màn hình 24"</a>
                                            <a class="product-of-catalog-content-items" href="#">Màn hình 27"</a>
                                            <a class="product-of-catalog-content-items" href="#">Màn hình 29"</a>
                                            <a class="product-of-catalog-content-items" href="#">Màn hình 32"</a>
                                            <a class="product-of-catalog-content-items" href="#">Màn hình trên 32"</a>
                                            <a class="product-of-catalog-content-items" href="#">Hỗ trợ giá treo (VESA)</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Màn hình đồ họa
                                            <a class="product-of-catalog-content-items" href="#">Màn hình đồ họa 24"</a>
                                            <a class="product-of-catalog-content-items" href="#">Màn hình đồ họa 27"</a>
                                            <a class="product-of-catalog-content-items" href="#">Màn hình đồ họa 32"</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Phụ kiện màn hình
                                            <a class="product-of-catalog-content-items" href="#">Giá treo màn hình</a>
                                            <a class="product-of-catalog-content-items" href="#">Phụ kiện dây HDMI, DP, LAN</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Màn hình di động
                                            <a class="product-of-catalog-content-items" href="#">Full HD 1080p</a>
                                            <a class="product-of-catalog-content-items" href="#">2K 1440p</a>
                                            <a class="product-of-catalog-content-items" href="#">Có cảm ứng</a>

                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Máy chiếu
                                            <a class="product-of-catalog-content-items" href="#">Máy chiếu Asus</a>
                                            <a class="product-of-catalog-content-items" href="#">Máy chiếu Beecube</a>
                                            <a class="product-of-catalog-content-items" href="#">Máy chiếu Wanbo</a>
                                            <a class="product-of-catalog-content-items" href="#">Máy chiếu ViewSonic</a>

                                        </span>

                                    </div>
                                </div>
                            </div>
                        </li>
                        @*Bàn phím*@
                        <li class="catalog-item">
                            <a href="#" class="catalog-item-link">
                                <i class="far fa-keyboard"></i>
                                <span class="catalog-name">
                                    Bàn phím <i class="fas fa-chevron-right fa-pull-right"></i>
                                </span>
                            </a>
                            <div class="products-of-catalog">
                                <div class="product-catalog-container">
                                    <div class="product-of-catalog-content">
                                        <span class="product-of-catalog-content-name">
                                            Thương hiệu
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">AKKO</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Dare-U</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Rapoo</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">FL-Esports</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Corsair</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">E-Dra</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Cidoo</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Thương hiệu
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Asus</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Logitech</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Razer</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Leopoid</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Steelseries</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Durgod</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">VNG</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Giá tiền
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Dưới 1 triệu</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 1 triệu đến 2 triệu</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 2 triệu đến 3 triệu</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 3 triệu đến 4 triệu</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Trên 4 triệu</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Kết nối
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Bluetooth</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Wireless</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Phụ kiện bàn phím cơ
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Keycaps</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Dwarf Factory</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Kê tay</a>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </li>
                        @*Chuột*@
                        <li class="catalog-item">
                            <a href="#" class="catalog-item-link">
                                <i class="fas fa-mouse"></i>
                                <span class="catalog-name">
                                    Chuột <i class="fas fa-chevron-right fa-pull-right"></i>
                                </span>
                            </a>
                            <div class="products-of-catalog">
                                <div class="product-catalog-container">
                                    <div class="product-of-catalog-content">
                                        <span class="product-of-catalog-content-name">
                                            Thương hiệu chuột
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Logitech</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Razer</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Corsair</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Pulsar</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Microsoft</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Thương hiệu chuột
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Asus</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Steelseries</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Glorious</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Rapoo</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Giá tiền
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Dưới 500 nghìn</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 500 nghìn đến 1 triệu</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 1 triệu đến 2 triệu</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Trên 2 triệu đến 3 triệu</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Trên 3 triệu</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Loại chuột
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Chuột gaming</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Chuột văn phòng</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Thương hiệu lót chuột
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">GEARVN</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Asus</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Steelseries</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Dare-U</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Razer</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Loại lót chuột
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Mềm</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Cứng</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Dày</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Mỏng</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Có viền led</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Lót chuột theo size
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Nhỏ</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Vừa</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Lớn</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        @*Tai nghe*@
                        <li class="catalog-item">
                            <a href="#" class="catalog-item-link">
                                <i class="fas fa-headphones-alt"></i>
                                <span class="catalog-name">
                                    Tai nghe <i class="fas fa-chevron-right fa-pull-right"></i>
                                </span>
                            </a>
                            <div class="products-of-catalog">
                                <div class="product-catalog-container">
                                    <div class="product-of-catalog-content">
                                        <span class="product-of-catalog-content-name">
                                            Thương hiệu
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Asus</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">HyperX</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Corsair</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Razer</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Thương hiệu
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Steelseries</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Rapoo</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Logitech</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Edifier</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Giá bán
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Dưới 1 triệu</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 1 triệu đến 2 triệu</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 2 đến 3 triệu</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Từ 3 đến 4 triệu</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Trên 4 triệu</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Kiểu kết nối
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Wireless</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Bluetooth</a>
                                        </span>
                                        <span class="product-of-catalog-content-name">
                                            Kiểu tai nghe
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Over-ear</a>
                                            <a class="product-of-catalog-content-items" href="https:youtube.com">Gaming In-ear</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="container grid-full-width">
            @RenderBody()
        </div>
        <div class="footer grid-full-width">
            <div class="footer-container grid">
                <div class="gearvn-about">
                    <h3>CÔNG TY TNHH THƯƠNG MẠI GEARVN</h3>
                    <h3>EMAIL: CSKH@GEARVN.COM</h3>
                    <span class="switchboard">Hệ thống tổng đài miễn phí:</span>
                    <span class="work-time">(Làm việc từ 8h00 - 22h00)</span>
                    <table>
                        <tbody>
                            <tr>
                                <td class="td-text">Gọi mua hàng</td>
                                <td class="td-number">1800 6975</td>
                            </tr>
                            <tr>
                                <td class="td-text">Hỗ trợ khách hàng</td>
                                <td class="td-number">1800 6173</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="gearvn-chinhsach">
                        <a href="">Chính sách bảo hành</a>
                        <a href="">Chính sách thanh toán</a>
                        <a href="">Chính sách giao hàng</a>
                        <a href="">Chính sách bảo mật</a>
                    </div>
                    <a href="" class="footer-link">
                        <img src="./assets_user/image/footer-img/footer1.png" alt="" class="footer-img">
                    </a>
                </div>
                <div class="gearvn-branch">
                    <a href="" class="he-thong">
                        HỆ THỐNG CỬA HÀNG:
                    </a>
                    <div class="branch-HCM-HN">
                        <span class="H-branch">SHOWROOM HCM</span>
                        <span class="H-work-time">(Làm việc từ 8h00 - 22h00)</span>
                        <p class="H-address">- Địa chỉ 1: 78-80-82 Hoàng Hoa Thám, Phường 12, Quận Tân Bình.</p>
                        <p class="H-address">- Địa chỉ 2: 189 Cống Quỳnh, Phường Nguyễn Cư Trinh, Quận 1.</p>

                        <span class="H-branch">SHOWROOM HN</span>
                        <span class="H-work-time">(Làm việc từ 8h00 - 21h00)</span>
                        <p class="H-address">- Địa chỉ : 37 Ngõ 121 Thái Hà, Phường Trung Liệt, Quận Đống Đa.</p>
                    </div>

                    <p class="buy-more">
                        Mua <a href="">PC Gaming</a>,
                        <a href="">laptop</a>,
                        <a href="">card màn hình</a>,
                        <a href="">màn hình máy tính</a>,
                        thiết bị chơi game như
                        <a href="">PS5</a> hàng đầu Việt Nam bảo hành chính hãng.
                        Mua online nhận nhiều ưu đãi hấp dẫn.
                    </p>

                    <div class="about-company">
                        <p class="company-content">- Công ty TNHH Thương Mại Gearvn</p>
                        <p class="company-content">
                            - GPKD số 0316517394 do Sở KH và ĐT TP Hồ Chí Minh cấp ngày
                            01/10/2020
                        </p>
                        <p class="company-content">- GĐ/Sở hữu website: Nguyễn Thế Anh</p>
                    </div>

                    <a href="" class="footer-link-DMCA">
                        <img src="~/assets_user/image/footer-img/footer2.png" alt="" class="footer-img-DMCA">
                    </a>
                </div>
                <div class="gearvn-facebook">
                    <h3 class="fanpage">FANPAGE</h3>
                    <div class="about-gearvn-facebook">
                        <img class="facebook-bg-img"
                             src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/s526x296/217622760_1833689093470898_5597792046803078944_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=dd9801&_nc_ohc=JnEtf_tO3BMAX8_B2hC&_nc_ht=scontent.fhan2-4.fna&edm=ANISlOoEAAAA&oh=1e2faa9b7a1c3343ff70bfb5e0f7d4d8&oe=60F28B15"
                             alt="">
                        <div class="gearvn-facebook-header">
                            <a href="https://www.facebook.com/gearvnhcm/" class="gearvn-logo-link">
                                <img class="gearvn-logo-img"
                                     src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.6435-9/133650752_1681635212009621_7346227945159076913_n.jpg?_nc_cat=1&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=DinjYzycFIwAX-Ap_7t&_nc_ht=scontent.fhan2-4.fna&oh=92a9c17eb87e8150a35ddfb0c2693f3b&oe=60F28F18"
                                     alt="">
                            </a>
                            <div class="gearvn-info">
                                <div class="gearvn-name-container">
                                    <a class="gearvn-name" href="https://www.facebook.com/gearvnhcm/">Gearvn</a>
                                    <div class="check-icon">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                </div>
                                <div class="gearvn-like">401.666 lượt thích</div>
                            </div>
                        </div>

                        <div class="gearvn-facebook-btn">
                            <a href="https://www.facebook.com/gearvnhcm/" class="like-btn">
                                <span class="facebook-content">
                                    <i class="fab fa-facebook-square"></i>
                                    Thích trang
                                </span>
                            </a>
                            <a href="https://www.facebook.com/gearvnhcm/" class="message-btn">
                                <span class="message-content">
                                    <i class="fas fa-comments"></i>
                                    Gửi tin nhắn
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    document.getElementById("my-onclick-menu").onclick = function () {
        var menu = document.getElementById("megamenu");
        var overlay = document.getElementById("overlay");
        var button = document.getElementById("my-onclick-menu");

        //// Lấy vị trí và kích thước của div
        var rect = button.getBoundingClientRect();

        //// Cập nhật vị trí của menu bên dưới div
        menu.style.top = (rect.bottom + 10) + "px"; // Vị trí top tính từ đáy của myDiv
        menu.style.left = (window.scrollX + rect.left + 85) + "px"; // Căn trái theo myDiv

        // Toggle hiển thị/ẩn menu và overlay
        if (menu.style.display === "none" || menu.style.display === "") {
            menu.style.display = "block"; // Hiển thị menu
            overlay.style.display = "block"; // Hiển thị overlay
        } else {
            menu.style.display = "none"; // Ẩn menu
            overlay.style.display = "none"; // Ẩn overlay
        }
    };

    // Click vào overlay để đóng menu
    document.getElementById("overlay").onclick = function () {
        document.getElementById("megamenu").style.display = "none";
        document.getElementById("overlay").style.display = "none";
    };
</script>