
@inherits System.Web.Mvc.WebViewPage
@using System.Web.Optimization


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="@Url.Content("~/assets_user/css/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets_user/font/css/all.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets_user/css/base.css")" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="@Url.Content("~/assets_user/renderlist.js")"></script>
    <script src="@Url.Content("~/assets_user/test.js")"></script>
    <script src="@Url.Content("~/assets_user/slider.js")"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="main">
        <div class="header-full grid-full-width">
            <div class="header-fixed">
                <div class="header grid">
                    <div class="logo">
                        <a href="/" class="logo-link">
                            <img class="logo-img" src="~/assets_user/image/logo/logo_header.svg" alt="">
                        </a>
                    </div>
                    <div class="right-header">
                        <div class="top-header">
                            <div class="search">
                                <input class="search-area" placeholder="Nhập mã hoặc tên sản phẩm..." type="text">
                                <div class="search-icon">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                            <div class="account">
                                @if (Session["UserID"] != null)
                                {
                                    <a class="header-top-right" href="#">
                                        <i class="fas fa-user-circle"></i>
                                        <div class="header-right-text">Chào, @Session["UserName"]</div>
                                    </a>
                                    <a class="header-top-right" href="@Url.Action("Logout","Account")">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <div class="header-right-text">Đăng xuất</div>
                                    </a>
                                }
                                else
                                {
                                    <a class="header-top-right" href="@Url.Action("Register","Account")">
                                        <i class="far fa-clipboard"></i>
                                        <div class="header-right-text">Đăng ký</div>
                                    </a>
                                    <a class="header-top-right" href="@Url.Action("Login","Account")">
                                        <i class="fas fa-user-circle"></i>
                                        <div class="header-right-text">Đăng nhập</div>
                                    </a>
                                }

                                <a class="header-top-right" href="">
                                    <i class="fas fa-piggy-bank"></i>
                                    <div class="header-right-text">Khuyến mãi</div>
                                </a>
                                <a class="header-top-right" href="#">
                                    <div class="icon-has-notice">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="cart-notice">0</span>
                                    </div>

                                    <div class="header-right-text">Giỏ hàng</div>
                                </a>
                            </div>
                        </div>
                        <div class="bot-header">
                            <ul class="info">
                                <li>
                                    <a class="info-text" href="">Hệ thống Showroom tại TP. Hồ Chí Minh - Hà Nội</a>
                                </li>
                                <li>
                                    <a class="info-text" href=""><i class="fas fa-phone-square-alt"></i>Tổng đài</a>
                                </li>
                                <li>
                                    <a class="info-text" href=""><i class="fab fa-youtube"></i>Videos</a>
                                </li>
                                <li>
                                    <a class="info-text" href=""><i class="fas fa-newspaper"></i>Tin công nghệ</a>
                                </li>
                                <li>
                                    <a class="info-text" href=""><i class="fas fa-user"></i>Tuyển dụng</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sub-header grid">
                    <div class="product-catalog">
                        <i class="fas fa-bars"></i>
                        Danh mục sản phẩm
                    </div>
                    <div class="header-navigation-list">
                        <a href="" class="header-navigation-item">
                            <i class="fas fa-gift"></i>
                            Tổng hợp khuyến mãi
                        </a>
                        <a href="" class="header-navigation-item">
                            <i class="fas fa-hand-holding-usd"></i>
                            Hướng dẫn thanh toán
                        </a>
                        <a href="" class="header-navigation-item">
                            <i class="fas fa-hand-holding-usd"></i>
                            Hướng dẫn trả góp
                        </a>
                        <a href="" class="header-navigation-item">
                            <i class="fas fa-shield-alt"></i>
                            Chính sách bảo mật
                        </a>
                        <a href="" class="header-navigation-item">
                            <i class="fas fa-shuttle-van"></i>
                            Chính sách vận chuyển
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <div class="footer grid-full-width">
            <div class="footer-container grid">
                <div class="gearvn-about">
                    <h3>CÔNG TY TNHH THƯƠNG MẠI GEARVN</h3>
                    <h3>EMAIL: CSKH@GEARVN.COM</h3>
                    <span class="switchboard">Hệ thống tổng đài miễn phí:</span>
                    <span class="work-time">(Làm việc từ 8h00 - 22h00)</span>
                    <table>
                        <tbody>
                            <tr>
                                <td class="td-text">Gọi mua hàng</td>
                                <td class="td-number">1800 6975</td>
                            </tr>
                            <tr>
                                <td class="td-text">Hỗ trợ khách hàng</td>
                                <td class="td-number">1800 6173</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="gearvn-chinhsach">
                        <a href="">Chính sách bảo hành</a>
                        <a href="">Chính sách thanh toán</a>
                        <a href="">Chính sách giao hàng</a>
                        <a href="">Chính sách bảo mật</a>
                    </div>
                    <a href="" class="footer-link">
                        <img src="./assets_user/image/footer-img/footer1.png" alt="" class="footer-img">
                    </a>
                </div>
                <div class="gearvn-branch">
                    <a href="" class="he-thong">
                        HỆ THỐNG CỬA HÀNG:
                    </a>
                    <div class="branch-HCM-HN">
                        <span class="H-branch">SHOWROOM HCM</span>
                        <span class="H-work-time">(Làm việc từ 8h00 - 22h00)</span>
                        <p class="H-address">- Địa chỉ 1: 78-80-82 Hoàng Hoa Thám, Phường 12, Quận Tân Bình.</p>
                        <p class="H-address">- Địa chỉ 2: 189 Cống Quỳnh, Phường Nguyễn Cư Trinh, Quận 1.</p>

                        <span class="H-branch">SHOWROOM HN</span>
                        <span class="H-work-time">(Làm việc từ 8h00 - 21h00)</span>
                        <p class="H-address">- Địa chỉ : 37 Ngõ 121 Thái Hà, Phường Trung Liệt, Quận Đống Đa.</p>
                    </div>

                    <p class="buy-more">
                        Mua <a href="">PC Gaming</a>,
                        <a href="">laptop</a>,
                        <a href="">card màn hình</a>,
                        <a href="">màn hình máy tính</a>,
                        thiết bị chơi game như
                        <a href="">PS5</a> hàng đầu Việt Nam bảo hành chính hãng.
                        Mua online nhận nhiều ưu đãi hấp dẫn.
                    </p>

                    <div class="about-company">
                        <p class="company-content">- Công ty TNHH Thương Mại Gearvn</p>
                        <p class="company-content">
                            - GPKD số 0316517394 do Sở KH và ĐT TP Hồ Chí Minh cấp ngày
                            01/10/2020
                        </p>
                        <p class="company-content">- GĐ/Sở hữu website: Nguyễn Thế Anh</p>
                    </div>

                    <a href="" class="footer-link-DMCA">
                        <img src="~/assets_user/image/footer-img/footer2.png" alt="" class="footer-img-DMCA">
                    </a>
                </div>
                <div class="gearvn-facebook">
                    <h3 class="fanpage">FANPAGE</h3>
                    <div class="about-gearvn-facebook">
                        <img class="facebook-bg-img"
                             src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/s526x296/217622760_1833689093470898_5597792046803078944_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=dd9801&_nc_ohc=JnEtf_tO3BMAX8_B2hC&_nc_ht=scontent.fhan2-4.fna&edm=ANISlOoEAAAA&oh=1e2faa9b7a1c3343ff70bfb5e0f7d4d8&oe=60F28B15"
                             alt="">
                        <div class="gearvn-facebook-header">
                            <a href="https://www.facebook.com/gearvnhcm/" class="gearvn-logo-link">
                                <img class="gearvn-logo-img"
                                     src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.6435-9/133650752_1681635212009621_7346227945159076913_n.jpg?_nc_cat=1&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=DinjYzycFIwAX-Ap_7t&_nc_ht=scontent.fhan2-4.fna&oh=92a9c17eb87e8150a35ddfb0c2693f3b&oe=60F28F18"
                                     alt="">
                            </a>
                            <div class="gearvn-info">
                                <div class="gearvn-name-container">
                                    <a class="gearvn-name" href="https://www.facebook.com/gearvnhcm/">Gearvn</a>
                                    <div class="check-icon">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                </div>
                                <div class="gearvn-like">401.666 lượt thích</div>
                            </div>
                        </div>

                        <div class="gearvn-facebook-btn">
                            <a href="https://www.facebook.com/gearvnhcm/" class="like-btn">
                                <span class="facebook-content">
                                    <i class="fab fa-facebook-square"></i>
                                    Thích trang
                                </span>
                            </a>
                            <a href="https://www.facebook.com/gearvnhcm/" class="message-btn">
                                <span class="message-content">
                                    <i class="fas fa-comments"></i>
                                    Gửi tin nhắn
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>




</html>
